*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
background-image: url(background.jpg);
background-size: cover;
background-position: center;
font-family: sans-serif;
}
.Menu-bar{
background: rgb(0,100,0);
text-align: center;
}
.Menu-bar ul{
display: inline-flex;
list-style: none;
color: #fff;
}
.Menu-bar ul li{
margin: 10px;
}
.Menu-bar ul li a{
text-decoration: none;
color: #fff;
}
.active,.Menu-bar ul li:hover
{
background:#2bab0d;
border-radius: 3px;
}

